@import '~office-ui-fabric-react/dist/sass/References.scss';
.announcements {
    .item {
        max-height: 175px;
        overflow: hidden;
        .createdDate {
            float: right;
        }
        .title {
            text-decoration: none;
        }
        .author {
            text-decoration: none;
        }
    }
}