@import '~office-ui-fabric-react/dist/sass/References.scss';
.announcements {
    &.previewText {
        .listItems {
            .item {
                max-height: 175px;
                overflow: hidden;
            }
        }
    }
    .listItems {
        .item {
            .createdDate {
                float: right;
            }
            .title {
                text-decoration: none;
            }
            .author {
                text-decoration: none;
            }
        }
    }
    .moreLink {
        margin-top: 20px;
        display: block;
    }
}