@import '~office-ui-fabric-react/dist/sass/References.scss';

.announcements {
  .item{
    .createdDate{
      float:right;
    }
    .title{
      text-decoration: none;
    }
    .author{
      text-decoration: none;
    }
  }
}
